.topnav
{
    display: inline-block;
    background-color: #6247aa;
    color:#a06cd5;
    transition: all 1.0s ease-out;
    width: 100%;
    height: 50px;
    position: relative;
}

.topnav.fixed-top
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a06cd5;
    color:#6247aa;
}

.topnav.fixed-top a
{
    color: white;
}

.navformat
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body
{
    background-color: #e2cfea;
}

.nav-text
{
    justify-content: center;
    font-family: "Lucida Console",monospace;
    color: whitesmoke;
    text-decoration: none;
}

.title
{
    display: flex;
    justify-content: center;
    font-family: "Lucida Console",monospace;
    font-size: 20px;
    color:#6247aa
}

.text
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Monaco",monospace;
    font-size: 30px;
    color:white;
    margin: 30px;
    padding: 20px;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 70vh;
    text-align: left;
}

.bio-text
{
    font-family: "Monaco",monospace;
    font-size: 20px;
    color:white;
}

.about-me-short-inline-one
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco",monospace;
    font-size: 20px;
    color:white;
    margin: 30px;
    padding: 20px;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 30vh;
    text-align: left;
    width: 50%;
}

.about-me-short-inline-two
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco",monospace;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    color:white;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 30vh;
    text-align: left;
    width: 50%;
}

.about-me-short
{
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: "Monaco",monospace;
    font-size: 20px;
    color:white;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 160px;
    width: 90%;
}

.about-me-extracurriculars
{
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: "Monaco",monospace;
    font-size: 20px;
    color:white;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 500px;
    width: 90%;
}

.about-me-intro
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects
{
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Monaco",monospace;
    font-size: 30px;
    color:white;
    margin: 30px;
    padding: 20px;
    background-color: #6247aa;
    border: 10px solid #a06cd5;
    height: 70vh;
    text-align: left;
}

.centering
{
    display: flex;
    justify-content: center;
    align-items: center;

}


.text-resize
{
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.extracurricular
{
    display: inline-block;
    margin: 30px;
    padding: 20px;
    height: 70vh;
    text-align: left;
    color:white;
    font-family: "Lucida Console",monospace;
    font-size: 15px;
    line-height: 20pt;

}

.center-pic
{
    padding-top: 90px;
}
