.topnav
{
    display: inline-block;
    background-color: #6247aa;
    color:#a06cd5;
    transition: all 1.0s ease-out;
    width: 100%;
    height: 50px;
    position: relative;
}

.topnav.fixed-top
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a06cd5;
    color:#6247aa;
}

.topnav.fixed-top a
{
    color: white;
}

.navformat
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body
{
    background-color: #e2cfea;
}

.nav-text
{
    justify-content: center;
    font-family: "Lucida Console",monospace;
    color: whitesmoke;
    text-decoration: none;
}

.title
{
    display: flex;
    justify-content: center;
    font-family: "Lucida Console",monospace;
    font-size: 20px;
    color:#6247aa;
}

.contact-info
{
    display: inline-block;
    font-family: "Monaco",monospace;
    font-size: 20px;
    color:white;
    height: 160px;
    width: 90%;
}


.contact-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console",monospace;
    font-size: 30px;
    color:#6247aa;
    border: 10px solid #a06cd5;

}

.center-contact
{
    display: block;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 60px;
}

.text
{   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    color: white;
    background-color: #6247aa;
    width: 100%;
    text-decoration: none;
    height: 15vh;
   

}

.link-text
{
    color: white;
}

.container
{
    width: 100%;
    height: 80vh;
    background-color: #6247aa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

form
{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3
{
    color:white;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea
{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: white;
    font-size: 16px;
}

form button
{
    padding: 15px;
    background-color: #a06cd5;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.list-info
{
   display: flex;
   justify-content: center;
   
}